#!/usr/bin/make -f

export CGO_ENABLED=0
export DH_GOPKG := github.com/pcd-tools/pcd-lint

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -ldflags="-s -w" -o pcd-lint .
	pandoc pcd-lint.1.md -s -t man -o pcd-lint.1

override_dh_auto_install:
	install -Dm755 pcd-lint debian/pcd-lint/usr/bin/pcd-lint
	install -Dm644 pcd-lint.1 debian/pcd-lint/usr/share/man/man1/pcd-lint.1
